
@media (min-width: 280px) and (max-width: 480px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    main{
        width: 100%;
    }
    header{
        text-align: center;
    }
    .main-info-holder{
        display: flex;
    }
    .info-1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
    }
    .info-1-text , .info-2-text, .info-3-text{
        width: 100%;
        font-size: 16px;
    }
    .info-1-text p , .info-2-text p, .info-3-text-p{
        width: 100%;
        font-size: 16px;
    }
    .info-1-text a, .info-2-text a, .info-3-text a{
        font-size: 16px;
    }
    .info-p{
        width: 100%;
        text-align: start;
        height: 100%;
        font-size: 8px;
        display: flex;
        justify-content: center;
        font-size: 32px;
    }
    .colored-text-2{
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }
    .info-2{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 120vh;
    }
    .info-2-text{
        width: 100%;
        padding: 0;
    }
    .main-txt{
        width: 100%;
        font-size: 16px;
    }
    .info-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        height: 100vh;
    }
    .info-4-img img{
        width: 100%;
    }
    .info-3-text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-3-text-p{
        width: 100%;
        font-size: 16px;
        text-align: start;
    }
    .text-3{
        width: 100%;
    }
    .countries-holder{
        margin-top: 100px;
        text-align: center;
        width: 100%;
    }
    .holder{
        display: flex;
        flex-direction: column;
    }
    .city{
        display: flex;
        flex-direction: column;
    }
    .city p {
        width: 100%;
        text-align: center;
    }
    .city div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90vh;
        width: 100%;
    }
    .city div>img{
        width: 100%;
    }
    .cards-container{
        /* margin-top: 500px; */
        height: 300vh;
    }
    .cards-holder{
        display: flex;
        flex-direction: column;
    }
    .card-1{
        width: 80%;
    }
    .title-and-persons-container{
        /* margin-top: 100px; */
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .profile-img img{
        width: 300px;
    }
}
